<!DOCTYPE html>
<html lang="en" ng-app="myQuiz">

<head>
	<title>Interview Portal - Sarthak Langde</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--<link href="css/styles.css" rel="stylesheet" type="text/css" />-->
	<script src="/lib/jquery.min.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="/lib/angular.min.js"></script>
	<script src="/lib/bootstrap.min.js"></script>


	<script src="quiz.js"></script>

</head>

<body style="">


	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
      			</button>
				<a class="navbar-brand" href="#">Interview Portal</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>



	

	<div class="content">
		<div ng-controller="QuizController">
			<div ng-hide="submittedscore">
				<form ng-submit="subquiz()">
					<div style="padding-left:5%;margin-top:2%;padding-right:5%">
						<div class="well" style="padding-left:5%;padding-right:5%;padding-top:2%; height:30vh" ng-repeat="question in questions">
							<div class="row" style="margin-bottom:2%"><strong>{{question.text}} </strong></div>
							
							<div class="col-md-6" style="padding:1%"><input type="radio" ng-model="question.selected" value="a" ng-required="!question.selected">{{question.a}}</div>
							<div class="col-md-6" style="padding:1%"><input type="radio" ng-model="question.selected" value="b" ng-required="!question.selected">{{question.b}}</div>
							<div class="col-md-6" style="padding:1%"><input type="radio" ng-model="question.selected" value="c" ng-required="!question.selected">{{question.c}}</div>
							<div class="col-md-6" style="padding:1%"><input type="radio" ng-model="question.selected" value="d" ng-required="!question.selected">{{question.d}}</div>
						</div>
					</div>
					<div> <input type="submit" style="float:right;margin-right:5%;margin-top:1%;margin-bottom:2%" class="btn btn-lg btn-success" value="Submit Quiz"></div>
				</form>
			</div>
			<div ng-show="submittedscore">
				<div class="well panel-success" style="padding-left:10%;padding-right:10%;padding-top:5%;padding-bottom:5%;margin-left:15%;margin-right:15%;margin-top:5%; font-size: 16px">
					<p><strong>You Scored: {{submittedscore}}/5</strong></p>
					<p>Thank you for taking the quiz. </p>
					
					<p><em>You can only give the test once. To give another test, contact the test administrator</em></p>
				</div>
			</div>

		</div>
	</div>
</body>

</html>